<h1>enjublog</h1>
<h2>artigos</h2>

<%= link_to 'novo', new_article_path(@article), :class => "new" %>

<% @articles.each do |article| %>
<div class="artigo">
    <p class="title"><%= article.title %></p>

    <p class="option"><%= link_to 'ver tudo', article_path(article) %></p>
    <p class="option"><%= link_to 'editar', edit_article_path(article) %></p>
    <p class="option"><%= link_to 'apagar', article_path(article),
        method: :delete,
        data: { confirm: 'tem certeza que deseja apagar o post?' } %></p>

    <p class="text"><%= article.text %></p>
        
</div>
<% end %>